

.image-card-list{
    display: flex;
    flex-direction: column;
}

.image-content{
    text-align: left;
}

.image-card{
    background-color: white;
    margin-left: 1em;
    box-shadow: 0.1em 0.05em 0.5em 0.1em gray;
    height:7rem;
    margin-top: 2em;
}

.image-block{
    height:4rem;
    width:4rem;
    background-color: grey;
    margin-top: 1em;

}

.image-title{
    text-align: left;
    /* display: inline; */
    margin-left: 5.5em;
    margin-top: -3em;;
}

.image-description{
    text-align: left;
    margin-left: 8.3em;
}

.image-radio-btn{
    display: flex;
    flex-direction: column;
}

.select-button-position{
    /* top: 10em;
    padding-top: -10em; */

}

.select-button{
    background-color: blue;
    color: white;
    float:right;
    height: 2.5em;
    width: 8em;
    border: none;
    border-radius: 0.2em;
    margin-right: 3em;
    font-weight: 600;
    font-size: 0.8em;
    /* margin-bottom: 4em; */
    /* align-self: flex-end; */
}

.radio-btn{
    bottom: 5em;
    /* margin-bottom: 1em; */
    margin-top: -5em;
    padding-bottom: 2em;
}

.image-name{
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
}